
{% extends 'tiendaApp/base.html' %} 

{% load static %} 

{% block content %}

<div class="container">

    <div class="row">

        <table class="table table-hover table-dark table-responsive{-sm|-md|-lg|-xl}">
        
            <thead>
            <tr>

            <th colspan="5" class="text-center">
                Carro de Compra
            </th>
            </tr>

            <tr>
            <th scope="col">Producto</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Actualizar</th>
            <th scope="col">Precio</th>            
            </tr>
            </thead>
        


<tbody>
        {% if request.session.carro.items %} 
        
            {% for key, value in request.session.carro.items %} 
                <tr>
                    <th scope="row">{{value.nombre}}</th>
                    <th scope="row">{{value.descripcion}}</th>
                    <th scope="row">{{value.cantidad}}</th>
                    <th scope="row">
                        <a href="{% url 'carro:agregar' value.producto_id %}" class="btn btn-sm btn-success">+</a>
                        <a href="{% url 'carro:restar' value.producto_id %}" class="btn btn-sm btn-success">-</a>
                        <a href="{% url 'carro:eliminar' value.producto_id %}" class="btn btn-sm btn-success">x</a>

                    </th>
                    <th scope="row">{{ value.precio|floatformat:2 }} €</th>
                </tr>
            {% endfor %} 
        
        {% else %}
        <tr>

            <td colspan="5">
                <div class="alert alert-danger text-center">
                    Sin productos
                </div>
            </td>
        </tr>

        {% endif %}

    </tbody>

    <tfoot>
        <tr>
        <td colspan="4" class="text-right">
            <a href="{% url 'carro:limpiar' %}" class="btn btn-sm btn-success">Limpiar carro</a>
            <a href="#" class="btn btn-sm btn-success">Finalizar compra</a>
        </td>
        
            <td colspan="5" class="text-right">
                Total: {{ importe_total_carro }} €
            </td>
        </tr>
    </tfoot>


</table>


    </div>

</div>


{% endblock %}