{% extends "registration/layout.html" %} {% load static %} {% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'tiendaApp/img/principal.jpg' %}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h6 class="section-heading mb-4">

                    <h1>Formulario para cambiar su clave</h1>
                    <p>Debe ingresar el correo electrónico que usó al registrarse:</p>

                    <form action="" method="post">{% csrf_token %} {% if form.email.errors %} {{ form.email.errors }} {% endif %}
                        <p>{{ form.email }}</p>
                        <input type="submit" class="btn btn-default btn-lg" value="Reset password" />
                    </form>

                    <p><a href="{% url 'login' %}">Volver al Login</a></p>

                </h6>

            </div>
        </div>
    </div>
</section>


{% endblock %}