{% extends "registration/layout.html" %} {% load static %} {% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'tiendaApp/img/principal.jpg' %}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">

                <h2>Formulario de Registro</h2>
                <form method="post">
                    {% csrf_token %} {% for campo in form %}
                    <p>
                        {{ campo.label_tag }} {{ campo }} {% if campo.help_text %}
                        <small style="color: rgb(116, 83, 83)">{{ campo.help_text }}</small> {% endif %} {% for error in campo.errors %}
                        <p style="color: rgb(237, 30, 30)">{{ error }}</p>
                        {% endfor %}
                    </p>
                    {% endfor %}
                    <button type="submit" style="color: rgba(39, 53, 22, 0.703)">Confirmar</button>
                </form>


            </div>
        </div>
    </div>
</section>


{% endblock %}