{% extends "registration/layout.html" %} {% load static %} {% block content %}

<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'tiendaApp/img/principal.jpg' %}" alt="">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h6 class="section-heading mb-4">

                    {% if form.errors %}
                    <p>El usuario y la clave no coinciden, por favor intente nuevamente.</p>
                    {% endif %} {% if next %} {% if user.is_authenticated %}
                    <p>Tu cuenta no tiene acceso a esta página. Para proceder, por favor inicie sesión con una cuenta que tenga acceso.</p>
                    {% else %}
                    <p>Inicie sesión para ver esta página.</p>
                    {% endif %} {% endif %}

                    <form method="post" action="{% url 'login' %}">
                        {% csrf_token %}

                        <div class="form-group mb-2">
                            <td>Usuario</td>
                            <td>{{ form.username }}</td>
                            <br><br>
                        </div>
                        <div>
                            <td>{{ form.password.label_tag }}</td>
                            <td>{{ form.password }}</td>
                            <br><br>
                        </div>

                        <div>
                            <input class="btn btn-login-form" type="submit" value="ACCEDER" />
                            <input type="hidden" name="next" value="{{ next }}" />
                        </div>
                    </form>

                    {# Asume que configuras la vista password_reset en tu URLconf #}

                    <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>

                    <p><a href="{% url 'Appusuarios:registrarse' %}">Registrarse</a></p>



            </div>
        </div>
    </div>
</section>


{% endblock %}