{% extends "registration/layout.html" %}


{% load static %}

{% block content %}

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'tiendaApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h6 class="section-heading mb-4" >
  
<p> Le enviamos por correo electrónico instrucciones para configurar su contraseña. 
    Si no han llegado en unos minutos, revise su carpeta de correo no deseado. </p>
  
            </h6>
         
        </div>
      </div>
    </div>
  </section>

  
{% endblock %}