{% extends "registration/layout.html" %}


{% load static %}

{% block content %}

<section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'tiendaApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h6 class="section-heading mb-4" >
  
  {% if validlink %}
        <p>Ingrese (y confirme) su nuevo password.</p>
        <form action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Nuevo password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirmar password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Cambiar mi password" /></td>
                </tr>
            </table>
        </form>
        
{% else %}
    <h1> Error al restablecer el password </h1>
    <p> El enlace para restablecer la contraseña no es válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña. </p>
{% endif %}
<p><a href="{% url 'login' %}">Volver</a></p>

  
            </h6>
         
        </div>
      </div>
    </div>
  </section>

  
{% endblock %}