{% extends 'tiendaApp/base.html' %}

{% load static %}

{% block content %}

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'tiendaApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">JAGUARETE</span>
            <span class="section-heading-lower">Artesanal!!</span>
          </h2>
          <p class="mb-3">Somos una empresa que se dedica al negocio de productos Artesanales desde hace mas de 25 años. Siempre a la vanguardia y con la mejor calidad.</p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Ven a visitarnos</span>
                <span class="section-heading-lower">Castelli N°55</span>
              </h2>
              <p class="mb-0">+299 6853852 - jaguarete@gmail.com</p>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}